:root {

  /* Цвета фона*/
  --lotus-body-bg-light: rgb(253, 253, 253);
  --lotus-secondary-bg-light: rgb(233, 236, 239);
  --lotus-tertiary-bg-light: rgb(248, 249, 250);

  --lotus-body-bg-dark: rgb(2, 2, 2);
  --lotus-secondary-bg-dark: rgb(22, 19, 16);
  --lotus-tertiary-bg-dark: rgb(7, 6, 5);

  /* Цвета текста*/
  --lotus-body-color-light: rgb(33, 37, 41);
  --lotus-secondary-color-light:rgba(33, 37, 41, 0.75);
  --lotus-tertiary-color-light: rgb(33, 37, 41, 0.5);

  --lotus-body-color-dark: rgb(222, 218, 214);
  --lotus-secondary-color-dark:rgba(222, 218, 214, 0.75);
  --lotus-tertiary-color-dark: rgb(222, 218, 214, 0.5);

  /* Базовые цвета (за основу взять Bootstrap)*/
  --lotus-color-primary: rgb(13, 110, 253);
  --lotus-color-success: rgb(25, 135, 84);
  --lotus-color-danger: rgb(220, 53, 69);
  --lotus-color-warning: rgb(255, 193, 7);
  --lotus-color-info: rgb(13, 202, 240);

  /* Темнее +25% черного */
  --lotus-color-primaryDark: color-mix(in srgb, var(--lotus-color-primary) 75%, black);
  --lotus-color-successDark: color-mix(in srgb, var(--lotus-color-success) 75%, black);
  --lotus-color-dangerDark: color-mix(in srgb, var(--lotus-color-danger) 75%, black);
  --lotus-color-warningDark: color-mix(in srgb, var(--lotus-color-warning) 75%, black);
  --lotus-color-infoDark: color-mix(in srgb, var(--lotus-color-info) 75%, black);

  /* Темнее +50% черного */
  --lotus-color-primaryDarker: color-mix(in srgb, var(--lotus-color-primary) 50%, black);
  --lotus-color-successDarker: color-mix(in srgb, var(--lotus-color-success) 50%, black);
  --lotus-color-dangerDarker: color-mix(in srgb, var(--lotus-color-danger) 50%, black);
  --lotus-color-warningDarker: color-mix(in srgb, var(--lotus-color-warning) 50%, black);
  --lotus-color-infoDarker: color-mix(in srgb, var(--lotus-color-info) 50%, black);

  /* Светлее +25% белого */
  --lotus-color-primaryLight: color-mix(in srgb, var(--lotus-color-primary) 75%, white);
  --lotus-color-successLight: color-mix(in srgb, var(--lotus-color-success) 75%, white);
  --lotus-color-dangerLight: color-mix(in srgb, var(--lotus-color-danger) 75%, white);
  --lotus-color-warningLight: color-mix(in srgb, var(--lotus-color-warning) 75%, white);
  --lotus-color-infoLight: color-mix(in srgb, var(--lotus-color-info) 75%, white);

  /* Светлее +50% белого */
  --lotus-color-primaryLighter: color-mix(in srgb, var(--lotus-color-primary) 50%, white);
  --lotus-color-successLighter: color-mix(in srgb, var(--lotus-color-success) 50%, white);
  --lotus-color-dangerLighter: color-mix(in srgb, var(--lotus-color-danger) 50%, white);
  --lotus-color-warningLighter: color-mix(in srgb, var(--lotus-color-warning) 50%, white);
  --lotus-color-infoLighter: color-mix(in srgb, var(--lotus-color-info) 50%, white);

  /* Светлее +90% белого (Максимально бледный цвет) */
  --lotus-color-primaryPalest: color-mix(in srgb, var(--lotus-color-primary) 10%, white);
  --lotus-color-successPalest: color-mix(in srgb, var(--lotus-color-success) 10%, white);
  --lotus-color-dangerPalest: color-mix(in srgb, var(--lotus-color-danger) 10%, white);
  --lotus-color-warningPalest: color-mix(in srgb, var(--lotus-color-warning) 10%, white);
  --lotus-color-infoPalest: color-mix(in srgb, var(--lotus-color-info) 10%, white);

  /* Прозрачность 100-20% */
  --lotus-color-primaryAlpha02: rgba(13, 110, 253, 0.2);
  --lotus-color-successAlpha02: rgba(25, 135, 84, 0.2);
  --lotus-color-dangerAlpha02: rgba(220, 53, 69, 0.2);
  --lotus-color-warningAlpha02: rgba(255, 193, 7, 0.2);
  --lotus-color-infoAlpha02: rgba(13, 202, 240, 0.2);

  /* Прозрачность 100-40% */
  --lotus-color-primaryAlpha04: rgba(13, 110, 253, 0.4);
  --lotus-color-successAlpha04: rgba(25, 135, 84, 0.4);
  --lotus-color-dangerAlpha04: rgba(220, 53, 69, 0.4);
  --lotus-color-warningAlpha04: rgba(255, 193, 7, 0.4);
  --lotus-color-infoAlpha04: rgba(13, 202, 240, 0.4);

  /* Прозрачность 100-80% */
  --lotus-color-primaryAlpha08: rgba(13, 110, 253, 0.8);
  --lotus-color-successAlpha08: rgba(25, 135, 84, 0.8);
  --lotus-color-dangerAlpha08: rgba(220, 53, 69, 0.8);
  --lotus-color-warningAlpha08: rgba(255, 193, 7, 0.8);
  --lotus-color-infoAlpha08: rgba(13, 202, 240, 0.8);

  /* Границы */
  --lotus-border-color-light: rgb(222, 226, 230);
  --lotus-border-color-dark: rgb(33, 29, 25);
  --lotus-border-width: 1px;
  --lotus-border-style: solid;
  --lotus-border-radius: 0.4rem;

  /* Размеры внутренних отступов - Минимальный */
  --lotus-padding-minimum-smaller: 0.05rem 0.05rem;
  --lotus-padding-minimum-small: 0.1rem 0.1rem;
  --lotus-padding-minimum-medium: 0.15rem 0.15rem;
  --lotus-padding-minimum-large: 0.2rem 0.2rem;

  /* Размеры внутренних отступов - Стандартный */
  --lotus-padding-normal-smaller: 0.1rem 0.1rem;
  --lotus-padding-normal-small: 0.2rem 0.2rem;
  --lotus-padding-normal-medium: 0.3rem 0.3rem;
  --lotus-padding-normal-large: 0.4rem 0.4rem;

  /* Размеры внутренних отступов - Увеличенный */
  --lotus-padding-enlarged-smaller: 0.25rem 0.25rem;
  --lotus-padding-enlarged-small: 0.4rem 0.4rem;
  --lotus-padding-enlarged-medium: 0.55rem 0.55rem;
  --lotus-padding-enlarged-large: 0.7rem 0.7rem;

  --lotus-font-main: 'Verdana', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

[data-theme='light'] {

  /* Цвета фона*/
  --lotus-body-bg: var(--lotus-body-bg-light);
  --lotus-secondary-bg:var(--lotus-secondary-bg-light);
  --lotus-tertiary-bg: var(--lotus-tertiary-bg-light);

  /* Цвета текста*/
  --lotus-body-color: var(--lotus-body-color-light);
  --lotus-secondary-color: var(--lotus-secondary-color-light);
  --lotus-tertiary-color: var(--lotus-tertiary-color-light);

  /* Цвета границ*/
  --lotus-border-color: var(--lotus-border-color-light);
}

[data-theme='dark'] {

  /* Цвета фона*/
  --lotus-body-bg: var(--lotus-body-bg-dark);
  --lotus-secondary-bg:var(--lotus-secondary-bg-dark);
  --lotus-tertiary-bg: var(--lotus-tertiary-bg-dark);

  /* Цвета текста*/
  --lotus-body-color: var(--lotus-body-color-dark);
  --lotus-secondary-color: var(--lotus-secondary-color-dark);
  --lotus-tertiary-color: var(--lotus-tertiary-color-dark);

  /* Цвета границ*/
  --lotus-border-color: var(--lotus-border-color-dark);
}
